.section-7 {
  height: 90rem;
  background-image: url('./../assets/images/pessoas/pexels-pavel-danilyuk-7658385_1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 0;
  padding: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-7::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 30, 71, 0.37);
}

.inner-section-contact-us {
  width: 100%;
  z-index: 1;
}

.inner-section-contact-us--container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.inner-section-contact-us--container--top-content {
  width: 80%;
  margin-bottom: 6rem;
}

.contact-us-top-content {
  color: #FFF;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}

.extra-contact-info {
  display: flex;
  flex-direction: column;
}

.inner-section-contact-us--container--bottom-container {
  display: flex;
  align-items: center;
  gap: 0 3rem;
}


@media screen and (max-width: 1440px) {
  .inner-section-contact-us--container {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .inner-section-contact-us--container {
    width: 70%;
  }

  .inner-section-contact-us--container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .inner-where-we-are--right-container{
    width: 100% !important;
  }
  .inner-section-contact-us--container--top-content {
    width: 100%;
  }
  .section-7 {
    padding: 2rem 6rem;
  }
}

@media screen and (max-width: 425px) {
  .section-7 {
    padding: 2rem ;
  }
  .contact-us-top-content {
    font-size: 3.2rem !important;
  }
  .inner-section-contact-us--container--bottom-container {
    flex-direction: column;
    gap: 2rem 0;
  }
  .inner-section-contact-us--container--bottom-container .header-central-cta-button {
    width: 100%;
  }
  .about-us-squad-container {
    justify-content: center;
  }
  .extra-contact-info {
    align-items: center;
  }
  .extra-contact-info .text {
    font-size: 1.6rem;
  }
}
