.header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 98.5vw;
  height: 90vh;
  border-radius: 2rem;
  background-color: #333;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin: 4rem 0;
  z-index: 1;
  width: 100%;
}

.menu-container--logo-container {
  display: flex;
  align-items: center;
}

.logo-part-1-container {
  background-color: #076CF3;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 4.8rem;
  margin-right: 0.5rem;
}

.logo-part-2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
}

.menu-list-container {
  display: flex;
  list-style: none;
  gap: 0 4rem;
}

.menu-list-item {
  transition: 0.5s;
}
.menu-list--item-link {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.5s;
}

.menu-list--item-link:hover {
  font-weight: bold;
}

.menu-list--item-link_active {
  font-weight: bold;
}

.cta-menu-button {
  position: relative;
  display: inline-block;
  padding: 1.5rem 3rem;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.3rem;
  color: #076CF3;
  text-decoration: none;
  font-weight: 500;
  transition: 1s;
  overflow: hidden;
}

.cta-menu-button>span {
  z-index: 1;
  transition: 1s;
}

.cta-menu-button:hover>span {
  position: relative;
  color: #fff;
}

.cta-menu-button::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: #076CF3;
  transition: 1s;
  z-index: 0;
}


.cta-menu-button:hover::before {
  width: 100%;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.452);
}

.image-header-container {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 60%;
  margin-top: 20rem;
}

.header-content-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.4rem;
  width: 100%;
}

.header-content-container--text {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-central-cta-button {
  margin-top: 6.8rem;
  padding: 2.5rem 5rem;
  color: #fff;
  border-radius: 1rem;
  background-color: #076CF3;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.5s;
}

.header-central-cta-button:hover {
  opacity: 1;
  transform: scale(1.05);
} 



.menu-container-fixed {
  position: fixed;
  top: -20rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4rem;
  background-color: #fff;
  z-index: 10;
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
}
.menu-container-fixed .menu-container--logo-container > .logo-part-2 {
  color: #111111;
}
.fixed-menu-item {
  color: #111111;
}
.menu-container-fixed .menu-list--item-link_active {
  color: #076CF3;
}

.menu-container-fixed .cta-menu-button {
  border: 0.1rem solid #076CF3;
}