.header {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 98.5vw;
  height: 90vh;
  border-radius: 2rem;
  background-color: #333;
  margin: 1rem auto;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin: 4rem 0;
  z-index: 1;
  width: 100%;
}

.menu-container--logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-part-1-container {
  background-color: #076CF3;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 4.8rem;
  margin-right: 0.5rem;
}

.logo-part-2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
}

.menu-list-container {
  display: flex;
  list-style: none;
  gap: 0 4rem;
}

.menu-list-item {
  transition: 0.5s;
}

.menu-list--item-link {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.5s;
}

.menu-list--item-link:hover {
  font-weight: bold;
}

.menu-list--item-link_active {
  font-weight: bold !important;
  color: #076CF3 !important;
}

.cta-menu-button {
  position: relative;
  display: inline-block;
  padding: 1.5rem 3rem;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.3rem;
  color: #076CF3;
  text-decoration: none;
  font-weight: 500;
  transition: 1s;
  overflow: hidden;
}

.cta-menu-button>span {
  z-index: 1;
  transition: 1s;
}

.cta-menu-button:hover>span {
  position: relative;
  color: #fff;
}

.cta-menu-button::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: #076CF3;
  transition: 1s;
  z-index: 0;
}


.cta-menu-button:hover::before {
  width: 100%;
}

.menu-hambuerger-container {
  position: absolute;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.452);
}

.image-header-container {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 60%;
  margin-top: 20rem;
}

.header-content-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.4rem;
  width: 100%;
}

.header-content-container--text {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-central-cta-button {
  margin-top: 6.8rem;
  padding: 2.5rem 5rem;
  color: #fff;
  border-radius: 1rem;
  background-color: #076CF3;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.75;
  transition: 0.5s;
}

.header-central-cta-button:hover {
  opacity: 1;
  transform: scale(1.05);
}



.menu-container-fixed {
  position: fixed;
  top: -20rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 4rem;
  background-color: #fff;
  z-index: 10;
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.menu-container-fixed .menu-container--logo-container>.logo-part-2 {
  color: #111111;
}

.fixed-menu-item {
  color: #111111;
}

.menu-container-fixed .menu-list--item-link_active {
  color: #076CF3 !important;
}

.menu-container-fixed .cta-menu-button {
  border: 0.1rem solid #076CF3;
}

.mobile-menu-container {
  display: none;
}

.hero-open-menu {
  opacity: 0;
}
.menu-hambuerger-container--hero {
  opacity: 0;
}

@media screen and (max-width: 1440px) {
  .menu-container-fixed {
    width: 100vw;
    justify-content: space-between;
    top: 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu-container-fixed {
    padding: 2rem;
    align-items: center;
  }

  .cta-menu-button {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 50vh;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 100vw;
  }
  .header-central-container {
    margin-top: 0;
    margin-bottom: 7rem;
    width: 85%;
  }
  .header-content-container--text {
    font-size: 3.2rem;
  }

  .header-central-cta-button {
    margin-top: 2rem;
    padding: 2rem 4rem;
  }

  .menu-container {
    padding: 0 2rem;
    margin: 2rem 0;
  }
  .menu-container-fixed {
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
  }
  .hero-open-menu {
    opacity: 1;
  }
  .menu-hambuerger-container--hero {
    opacity: 1;
  }

  .cta-menu-button {
    padding: 1rem 2rem;
  }

  .menu-container--navigation-menu {
    display: none;
  }

  .menu-container--cta-container {
    display: none;
  }

  .menu-hambuerger-container {
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #076CF3;
    right: 2rem;
  }

  .mobile-menu-item {
    font-size: 2rem;
  }

  .menu-container-fixed .menu-hambuerger-container {
    background-color: #076CF3;
    color: #fff;
  }

  .mobile-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    z-index: 20;
    opacity: 1;
    display: flex;
    overflow: hidden;
    transition: 0.5s;
  }

  .mobile-menu-container--off {
    opacity: 0;
    transition: 0.5s;
    width: 0vw;
  }

  .mobile-menu-container--right {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    background-color: #fff;
    border-radius: 1rem 0 0 1rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }

  .mobile-menu-container--right--off {
    width: 0%;
    transition: 0.5s;
  }

  .mobile-menu-container--right .menu-hambuerger-container {
    background-color: #076CF3;
  }

  .mobile-menu-container--right .menu-list-container {
    flex-direction: column;
    gap: 1rem 0;
  }

  .mobile-menu-container--right-top {
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu-container--right .menu-list--item {
    text-align: left;
    padding: 0.5rem 0;
    
  }
  .mobile-menu-container--right .menu-list--item-link {
    display: block;
  }
  .btn-cta-menu-mobile {
    padding: 2rem 4rem;
    width: 100%;
    color: #fff;
    background-color: #076CF3;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    margin-top: 3rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }
  .btn-cta-menu-mobile:hover {
    background-color: #0356c2;

  }

  #close-mobile-menu {
    position: relative;
    transform: rotate(45deg);
    right: 0;
  }
  #close-mobile-menu::after, #close-mobile-menu::before {
    content: '';
    height: 45%;
    width: 0.4rem;
    background-color: #fff;
    border-radius: 2rem;
    position: absolute;
  }
  #close-mobile-menu::after {
    transform: rotate(90deg)
  }
}

/*.header-content-container--text*/


@media screen and (max-width: 425px) {
  .logo-part-2 {
    font-size: 2.4rem;
  }
  .header-content-container--text {
    font-size: 2.4rem !important;
  }
  .logo-part-1-container {
    width: 4.2rem;
    height: 3.8rem;
  }
  .mobile-menu-container--right {
    width: 70%;
  }
}