.header {
  display: flex;
  flex-direction: column;
  width: 98vw;
  height: 90vh;
  border-radius: 2rem;
  background-color: #333;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  align-items: center;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin: 4rem 0;
  z-index: 1;
  width: 100%;
}

.menu-container--logo-container {
  display: flex;
  align-items:center;
}

.logo-part-1-container {
  background-color: #076CF3;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 4.8rem;
  margin-right: 0.5rem;
}

.logo-part-2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
}

.menu-list-container {
  display: flex;
  list-style: none;
  gap: 0 4rem;
}

.menu-list--item-link {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.5s;
}
.menu-list--item-link:hover {
  font-weight: bold;
}

.menu-list--item-link_active {
  font-weight: bold;
}

.cta-menu-button {
  position: relative;
  display: inline-block;
  padding: 1.5rem 3rem;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.3rem;
  color: #076CF3;
  text-decoration: none;
  font-weight: 500;
  transition: 1s;
  overflow: hidden;
}
.cta-menu-button > span {
  z-index: 1;
  transition: 1s;
}
.cta-menu-button:hover > span{
  position: relative;
  color: #fff;
}

.cta-menu-button::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: #076CF3;
  transition: 1s;
  z-index: 0;
}


.cta-menu-button:hover::before{
  width: 100%;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.27);
}

.header-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 60%;
  margin-top: 20rem;
}
.header-content-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.header-content-container--text {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}

.header-central-cta-button {
  margin-top: 6.8rem;
  padding: 2.5rem 5rem;
  color: #fff;
  border-radius: 1rem;
  background-color: #076CF3;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}


/*Sections definitions structues*/
.section {
  margin: 13.5rem 0;
}

.heading-1 {
  font-size: 3.6rem;
  font-weight: bold;
}

.text {
  font-size: 1.8rem;
  line-height: 1.5;
}

/*Service section*/

.section-1 {
  display: flex;
  justify-content: center;
}

.inner-section-1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem 0;
  width: 80%;
}

.inner-section-1-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-section-1-container-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.service-item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 2rem 2rem;
  border-radius: 1rem;
}

.service-item--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
}

.service-item-card--icon-container {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  background-color: #363636;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-item-card-icon {
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
}
.service-name {
  display: inline-block;
  font-size: 1.6rem;
  text-align: center;
  width: 60%;
  opacity: 0.5;
}
.service-item--top::after {
  content: "";
  width: 90%;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #1E1E1E;
  opacity: 0.28;
}
.service-item--bottom {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-item-description {
  font-size: 1.5rem;
  color: #1E1E1E;
  opacity: 0.28;
  text-align: center;
  line-height: 1.5;
}

.service-item-card:hover .service-name {
  opacity: 1;
}

.service-item-card:hover .service-item--top::after {
  background-color: #076CF3;
  opacity: 1;
}

.service-item-card:hover .service-item-card--icon-container  {
  background-color: #076CF3;
}

.service-item-card:hover .service-item-description {
  opacity: 1;
}