/*Sections definitions structues*/
.section {
  margin: 13.5rem 0;
}

.heading-1 {
  font-size: 3.6rem;
  font-weight: bold;
}

.heading-3 {
  color: rgba(0, 0, 0, 0.66);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.normal-text {
  color: rgba(0, 0, 0, 0.66);
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*Service section*/