
/*
@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Poppins';
  src: url('./../assets/fonts/poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  background-color: #FBFBFB;
  overflow-x: hidden;
}

