.section-6 {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 7rem;
}

.inner-where-we-are--map-container {
  display: flex;
  margin-top: 6rem;
  gap: 0 4rem;
}

.inner-where-we-are--left-container {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.inner-where-we-are-map {
  border-radius: 1rem;
}

.inner-where-we-are-navigate-button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #00000059;
  color: #000000a9;
  background-color: #fff;
  align-self: flex-end;
  margin-top: 2rem;
  ;
  cursor: pointer;
}

.inner-where-we-are-navigate-button:hover {
  border: 0.1rem solid #000000;
  color: #000000;
}

.inner-where-we-are--right-container {
  width: 40%;
  height: 45rem;
  background-image: url("./../assets/images/pexels-tima-miroshnichenko-6169866.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1rem;;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-where-we-are-location-card {
  /*position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);*/
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.91);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 75%;
}

.inner-where-we-are-location-card--title {
  color: #000;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.inner-where-we-are-location-card--description {
  color: #060606;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}


@media screen and (max-width: 1440px) {
 
}

/*.inner-where-we-are--right-container*/

@media screen and (max-width: 1023px) {
  .inner-where-we-are--right-container{
    width: 100% !important;
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 425px) {
  .about-us-quote-container {
    width: 100%;
    padding-right: 2rem !important;
  }

  .section-6 {
    padding: 0 2rem !important;
  }
  .inner-where-we-are--map-container {
    margin-top: 2.5rem;
  }
  .inner-where-we-are-location-card {
    width: 100%;
  }
}